@media (min-width: 768px) and (max-width: 1024px) {

  body {
    padding: 0 30px;
  }

  .hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
  }

  .hero-text {
    width: 55%;
    text-align: left;
  }

  .hero img[alt="Illustration"] {
    width: 40%;
    height: auto;
  }

  .hero h2 {
    font-size: 36px;
    text-align: left;
  }

  .hero h1 {
    font-size: 26px;
  }

  .stats-container {
    width: 80%;
    padding: 20px;
    margin:0 auto;
  }

  .stat-item h3 {
    font-size: 24px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  .card {
    width: 48%; 
    height: auto;
    min-height: 220px;
    margin-bottom: 0; 
    padding: 25px;
  }

  .about {
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  .about img {
    width: 40%;
    margin-bottom: 0;
  }

  .about p {
    width: 55%;
    text-align: left;
  }

  .skills {
    justify-content: space-between;
  }

  

  .projects-list {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  .project {
    width: 48%; 
    margin-bottom: 30px;
  }

  .project.center {
    width: 48%; 
  }

  .project-box, .project-box.tall {
    height: 220px; 
  }

  .contact-wrapper {
    gap: 30px;
  }

  .contact-left, .contact-right {
    width: 48%;
  }

}